.pokemon-card{
    border: 1px solid red;
    padding: 10px;
    border-radius: 0px;    
}

.pokemon-name{
    font-size: 20px;
    font-weight: bold;
}

.pokemon-name-container{
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pokemon-image-container{
    display: flex;
    justify-content: center;
}

.pokemon-image{
    width: "-webkit-fill-avaible";
    height: 200px;

}

.pokemon-types-container{
    background-color: blue;
    display: flex;
}

.pokemon-types-container > *:not(:first-child) {
    margin-left: 10px;
}

.pokemon-stats-container{
    background-color: green;
    display: flex;
    flex-direction: column;
}